# Parameterized two-mirror cavity scan (sample {{ sample_id }})
# Coordinate convention: docs/coordinate_conventions.md

l L0 P={{ laser_power_w }}
gauss g0 L0.p1.o w0x={{ wx_m }} w0y={{ wy_m }} zx={{ zx_m }} zy={{ zy_m }}
modes(maxtem={{ maxtem }})

s s_steer L0.p1 m_steer.p1 L={{ steer_arm_m }}
m m_steer R=1 T=0 xbeta={{ steer_xbeta_rad }} ybeta={{ steer_ybeta_rad }}
s s_in m_steer.p2 m1.p1 L={{ steer_arm_m }}

m m1 R={{ mirror_r }} T={{ mirror_t }} Rc={{ mirror_rc_m }}
s CAV m1.p2 m2.p1 L={{ cavity_length_m }}
m m2 R={{ mirror_r }} T={{ mirror_t }} Rc=-{{ mirror_rc_m }}

pd refl m1.p1.o

cavity cav source=m1.p2.o via=m2.p1.i priority=1

xaxis(L0.f, lin, {{ detuning_start_hz }}, {{ detuning_stop_hz }}, {{ detuning_points }})
